## Introducción al aprendizaje supervisado

### Actividades:

#### Dataset rain_teodelina

1) agregar features que aporten valor al dataset  

2) Analizar features data / target 

3) dividir dataset (training, validation, test)    

4) analizar y elegir el modelo mas apropiado, entrenarlo y analizar resultados  

5) combinar clasificadores y analizar resultados  

6) evaluar predicciones de los diferentes modelos

#### Dataset: rain_junin

1) Aplicar tecnicas de selección y extraccion de features  

2) Analizar features data / target 

3) dividir dataset (training, validation, test)  

4) analizar y elegir el modelo mas apropiado, entrenarlo y analizar resultados

5) combinar clasificadores y analizar resultados  

6) evaluar predicciones de los diferentes modelos

#### Combinacion de datasets

1) Combinar ambos datasets a partir de features comunes a ambos

2) Validar la correcctitud de los datos fusionados

3) Aplicar tecnicas de selección y extraccion de features  

4) Analizar features data / target 

5) dividir dataset (training, validation, test)  

6) analizar y elegir el modelo mas apropiado, entrenarlo y analizar resultados

---------------

In [1]:
import pandas as pd

In [2]:
rain_teodelina = pd.read_csv("rain_teodelina.csv")
rain_teodelina.head()

       date  rain
0  1978-1-1     0
1  1978-1-2     0
2  1978-1-3     0
3  1978-1-4     0
4  1978-1-5     0

In [3]:
rain_junin = pd.read_csv("rain_junin.csv")
rain_junin.head()

,Fecha,Hr.Med(%),Prec(mm),Presion(mb).Est,Presion(mb).Mar,Temperatura(°C).Max,Temperatura(°C).Med,Temperatura(°C).Min,Viento(km/h).Max,Viento(km/h).Med,Vis(km)
0,2016/01/01,71.8,7.9,1000.1,1009.5,31.4,24.0,18.4,27.8,16.7,12.4
1,2016/01/02,67.8,0.0,1002.0,1011.4,32.1,25.6,20.3,25.9,19.3,12.8
2,2016/01/03,79.1,0.0,1001.0,1010.4,31.6,23.7,20.0,37.0,21.7,12.6
3,2016/01/04,91.5,0.0,999.6,1009.0,26.9,22.2,20.8,18.3,10.7,10.4
4,2016/01/05,79.6,9.9,1002.6,1012.0,28.4,23.6,19.8,24.1,14.4,11.3